body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#F7F8FB, #D3D8E8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
}

header {
    background: darkorange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F77300, #CF4B00); /*Safari 5.1-6*/
    background: -o-linear-gradient(#F77300, #CF4B00); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#F77300, #CF4B00); /*Fx 3.6-15*/
    background: linear-gradient(#F77300, #CF4B00); /*Standard*/
    box-shadow: 0 -1px 15px 0 #333;
    font-weight: bold;
    font-size: 150%;
    overflow: auto;
    margin: 0;
    padding: 0.3em;
    height: 3em;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    text-align: center;
}