body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#F7F8FB, #D3D8E8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
}

header {
    background: darkorange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F77300, #CF4B00); /*Safari 5.1-6*/
    background: -o-linear-gradient(#F77300, #CF4B00); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#F77300, #CF4B00); /*Fx 3.6-15*/
    background: linear-gradient(#F77300, #CF4B00); /*Standard*/
    box-shadow: 0 -1px 15px 0 #333;
    overflow: auto;
    margin: 0;
    padding: 0.6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoheadline {
    flex-grow: 1;
}

.form {
    padding: 2em 1.5em;
}

.logo {
    margin-right: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
}



.submit {
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 0.4em;
    border: 1px solid #003B7C;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    padding: 0.8em 0.3em;
    flex-basis: 50%;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.formfield {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
}

.formfield label {
    margin-bottom: 4px;
    display: inline-block;
}

.formfield input {
    height: 2em;
    padding: 0.5em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 0;
    justify-content: center;
    flex-direction: row;
}

.formsubmit {
    display: flex;
    align-items: center;
    margin-left: 25%;
    height: 5em;
}

.navigation-menu {
    padding: 0.85em 1.3em;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 0.4em;
    border: 1px solid #003B7C;

}

.navigation-menu-small {
    padding: 0.85em 1.3em;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    color: #fff;
    border-radius: 0.4em;
    border: 1px solid #003B7C;
}

span.navigation-menu-small {
    display:inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 0.85em 1.3em;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #003B7C;
}

.navigation-menu-small:hover .dropdown-content {
    display:block;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.input-group{
	float: right;
}

@media (max-width: 399px) {
    /* TODO: */
    .submit {
        flex-basis: 100%;
    }
}

@media (max-width: 599px) {
    .hidesmall {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

@media (min-width: 600px) {
    .hidebig {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

@media (min-width: 400px) {
    .formfield {
        flex-direction: row;
    }

    .formfield label,input {
        flex-shrink: 0;
        flex-basis: 50%;
    }

    .formsubmit {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .form {
        padding: 2em 6em;
    }
}
