body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#F7F8FB, #D3D8E8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    min-height: 100vh;
}

header {
    background: darkorange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F77300, #CF4B00); /*Safari 5.1-6*/
    background: -o-linear-gradient(#F77300, #CF4B00); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#F77300, #CF4B00); /*Fx 3.6-15*/
    background: linear-gradient(#F77300, #CF4B00); /*Standard*/
    box-shadow: 0 -1px 15px 0 #333;
    overflow: auto;
    margin: 0;
    padding: 0.6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoheadline {
    flex-grow: 1;
}

.form {
    padding: 2em 1.5em;
}

.logo {
    margin-right: 0.5em;
}

main {
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7em;
}

.submit {
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 0.4em;
    border: 1px solid #003B7C;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    padding: 0.8em 0.3em;
    flex-basis: 50%;
    justify-content: center;
}

.input-group {
    float: right;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.formfield {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
}

.formfield label {
    margin-bottom: 4px;
    display: inline-block;
}

.formfield input {
    height: 2em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 0;
    justify-content: center;
    flex-direction: row;
}

.formsubmit {
    display: flex;
    align-items: center;
    margin-left: 25%;
    height: 5em;
}

.navigation-menu {
    padding: 0.85em 1.3em;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    margin: 0 0 0 0.4em;
    text-decoration: none;
    color: #fff;
    border-radius: 0.4em;
    border: 1px solid #003B7C;
    cursor: pointer;
}

.navigation-menu a {
    text-decoration: none;
    color: #fff;
}

span.navigation-menu {
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 0.85em 1.3em;
    background: -webkit-linear-gradient(#006BAC, #003B7C); /*Safari 5.1-6*/
    background: -o-linear-gradient(#006BAC, #003B7C); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#006BAC, #003B7C); /*Fx 3.6-15*/
    background: linear-gradient(#006BAC, #003B7C); /*Standard*/
    font-size: 15px;
    display: block;
    border: 1px solid #003B7C;
}

.navigation-menu:hover .dropdown-content {
    display: block;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border-top: solid thin gray;
    margin-left: 0.5em;
}

.wrapper {

    border-top: solid thin lightgray;
}

.deviceHeadline {
    float:top;
    margin: 0.5em 0.5em;
}

.boxed {
    margin: 0.6em;
    border-radius: 0.5em;
    box-shadow: 0 -1px 15px 0 #333;
    overflow: hidden;
    height: 10em;
    background: #fff;
}

.devicePicture {
    float: left;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D3D8E8;
}

.devicePicture img {
    max-width: 100%;
    max-height: 90%;
    margin: 0.5em;
}

.deviceDescription {
    display: inline-block;
    padding-left: 1.0em;
    float: left;
    position: relative;
    width: 51%;
    height: 100%;
}

.deviceDescription ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.deviceTitle {
    font-size: 145%;
}

.deviceName {
    font-size: 110%;
}

.deviceMenu {
    height: 20px;
    bottom: 0.2em;
    right: 0.5em;
    position: absolute;
}

.deviceMenu img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar {
    margin: 0 0.5em;
    line-height: 1.5em;
    padding-bottom: 1em;
    clear: right;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li{
    margin-bottom: 0.5em
}

.sidebarRight {
    float: right;
}

.labelSidebar {
    font-weight: 700;
}

@media (max-width: 399px) {

    .submit {
        flex-basis: 100%;
        width: 100%;
    }

    .formsubmit {
        margin: 0;
        height: 3em;
    }

}

@media (min-width: 400px) {

    .formfield {
        flex-direction: row;
    }

    .formfield label, input {
        flex-shrink: 0;
        flex-basis: 50%;
    }

    .formsubmit {
        width: 75%;
    }

    .content{
        border: none;
    }
    .boxed{
        width: 100%;
    }




}

@media (max-width: 599px) {

    .hidesmall {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

}

@media (min-width: 600px) {

    .hidebig {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

}

@media (min-width: 768px) {

    .sidebar {
        float: right;
        width: 33%;
        height: 100%;
    }

    .content {
        width: 64%;
        float: left;
        border-top: none;
        border-right: thin solid lightgray;
    }

    .boxed {
        width: 100%;
    }

}

@media (min-width: 1200px) {

    .form {
        padding: 2em 6em;
    }

    .sidebar {
        width: 22%;
    }

    .content {
        width: 76%;
    }

    .boxed {
        width: 47%;
    }

}