<div role="navigation" aria-label="jumplinks">
  <a href="#deviceheadline" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
  <a [routerLink]="['/overview']"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

  <h1 class="header-title" id="bannerheadline">
    BIG Smart Home
  </h1>
  <nav aria-labelledby="navigationheadline">
    <h2 class="accessibility" id="navigationheadline">Navigation</h2>
    <ul class="navigation-list">
      <li class="nav-items">
        <ul>
          <li>
            <a [routerLink]="['/options']" class="button" accesskey="2">Optionen</a>
          </li>
          <li>
            <a [routerLink]="['/login']" class="button" accesskey="1">Abmelden</a>
          </li>
        </ul>
      </li>
      <li class="overflow-icon">
        <a href="#" class="button" accesskey="1">☰</a>
      </li>
    </ul>
  </nav>
</header>
<div *ngIf="device" class="main-container">
  <aside class="sidebar" aria-labelledby="serverinfoheadline">
    <div class="server-info-container">
      <h2 class="accessibility" id="serverinfoheadline">Serverstatus</h2>
      <dl class="server-data properties">
        <dt class="accessibility">Serverstatus:</dt>
        <dd class="server-status">Serverstatus:</dd>
        <dt>Benutzer</dt>
        <dd>
          <span class="system-start-time">Administrator</span>
        </dd>
        <dt>Systemstartzeit</dt>
        <dd>
          <span class="system-start-time">10:00</span>
        </dd>
        <dt>Systemstartdatum</dt>
        <dd>
          <span class="system-start-datum">06.03.2017</span>
        </dd>
        <dt>Fehlgeschlagene Logins</dt>
        <dd>
          <span class="failed-logins">3</span>
        </dd>
      </dl>
    </div>
  </aside>
  <main aria-labelledby="deviceheadline" class="details-container">
    <div attr.data-device-id="19ff7d47-bd80-4a5d-adfb-bc77558facad" class="details-headline">
      <h2 class="main-headline" id="deviceheadline">{{device.display_name}}</h2>
    </div>
    <div class="details-holder">

      <!-- Steuerung für kontinuierliche Werte -->
      <line-comp *ngIf="cont" [device]="device"></line-comp>

      <bool-comp *ngIf="bool" [device]="device"></bool-comp>

      <enu-comp *ngIf="enu" [device]="device"></enu-comp>

    </div>

  </main>
</div>
